__pycache__/
*.pyc
test-results/

*_check*.png
home_check.png
d1_check.png
d1_check2.png
d2_check.png
_d1_check.png
_d1_chrome.png
_juco_check.png

d1-dom.txt
d1-file-dom.txt
juco-file-dom.txt
naia-file-dom.txt
_edge_d1_dump.html

data/vendor/d2_rim_supplements.js
data/vendor/naia_rim_supplements.js
data/vendor/juco_rim_supplements.js
data/vendor/fiba_rim_supplements.js
